# Quartus generated output
db/
incremental_db/
output_files/
greybox_tmp/
hps_isw_handoff/
*.rpt
*.smsg
*.summary
*.done
*.pin
*.sof
*.pof
*.rbf
*.ekp
*.jdi
*.qws

# Quartus work files (keep .qpf and .qsf — they define your project)
*.bak
*.orig
*.qdf

# ModelSim
work/
transcript
vsim.wlf
*.vcd
*.wlf

# Misc
*.log
.DS_Store
Thumbs.db
